{% extends "base.html" %}


{% block head %}
<title>Sida1</title>
{% endblock %}


{% block body %}
    <div id="point0">
        <h1 id="h1test">Välkomen till denna sida! Köpare!</h1>
    </div>
    <div id="point0">
        <p id="point2">I denna sida kan du lägga till pizzor till din checkout! </p>
    </div>

    <div>
        {% for table in tables %}
        <h2 id="h1test">{{titles[loop.index]}}</h2>
        {{ table|safe }}
        {% endfor %}
    </div>
    <form action="/process-data" method="POST">
        <input type="number" name="name" placeholder="Enter your name">
        <button type="submit">Submit</button>
    </form>

    <button type="button" onclick="alert('Hello world!')" id="h2test">Klicka här!</button>
    <p>
    <a href="/">hello Admin</a>
    </p>
    <p>
    <a href="Page2">Checkout</a>
    </p>
{% endblock %}
